body {
	background: url("images/kernals.jpg") center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: hidden;
}
.whiteText {
	color: white;
}
#johnCenaGIF {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}
#wrapper {		
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
}
#leftColumn {
	height: 100%;
	width: 17%;
	float: left;
	background-color: #331100;
}
#midColumn {
	height: 100%;
	width: 57.5%;
	float: left;
}
#rightColumn {
	height: 100%;
	width: 24.5%;
	float: left;
	background-color: #c3823c;
	overflow-y: scroll;
	overflow-x: hidden;
}
.columnDivider {
	height: 100%;
	width: .5%;
	float: left;
	background-color: #992600;
}
.unselectable {
	user-drag: none; 
	user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
#reset {
	height: 25px;
	width: 45px;
	line-height: 25px;
	background-color: red;
	color: white;
	border-radius: 15px;
	text-align: center;
	display: inline-block;
	cursor: pointer;
}
#freePopcorn {
	height: 25px;
	width: 45px;
	line-height: 25px;
	background-color: green;
	color: white;
	border-radius: 15px;
	text-align: center;
	display: inline-block;
	cursor: pointer;
}
#popcornDisplay {
	color: #e6e600;
	font-size: 40px;
	font-weight: bold;
}
#popcornPerSecondDisplay {
	color: #e6e600;
	font-size: 20px;
	font-weight: bold;
}
#popZone {
	height: 100%;
	cursor: pointer;
}
#instruction {
	position: absolute;
	font-size: 30px;
	bottom: 0px;
	width: inherit;
	text-align: center;
	background-color: #f5f5dc;
}
#storeTitle {
	height: 100px;
	text-align: center;
	line-height: 100px;
	font-weight: bold;
	font-size: 40px;
	color: white;
}
#storeInstructions {
	position: relative;
	height: 0px;
	text-align: right;
	line-height: normal;
	font-weight: normal;
	font-size: 16px;
	top: -18px;
	right: 1px;
}
.storeDivider {
	background-color: #992600;
	height: 5px;
}
.storeMenu {
	background-color: #cc3300;
	color: white;
	height: 30px;
}
.dropButton {
	position: relative;
	height: 15px;
	width: 15px;
	top: -30%;
	left: 80%;
	cursor: pointer;
}
.storeItems {
	background-color: #000066;
	height: 90px;
	line-height: 90px;
	font-size: 20px;
	color: white;
}
.storeItemParts {
	height: 50%;
	line-height: 45px;
	display: inherit;
}
.sellButton {
	height: 45px;
	width: 45px;
	line-height: 45px;
	background-color: #990000;
	font-size: 66px;
	color: #999999;
	text-align: center;
	position: relative;
	visibility: hidden;
	top: -67.5px;
	left: 85%;
}

/* Mobile CSS */

.mobileOnly {
	display: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	.mobileOnly {
		display: inline;
	}
}
